<div class="field-unit__field">
  <strong>
    <%= f.label field.attribute %>
  </strong>
  <br>

  <% I18n.available_locales.each do |locale| %>
    <%= t("languages.#{locale}") %>
    <% if field.options[:max_length] %>
      <%= f.voncount_text_area "#{field.attribute}_#{locale}".downcase.underscore, maxlength: field.options[:max_length], rows: 4  %>
    <% else %>
      <%= f.text_area "#{field.attribute}_#{locale}".downcase.underscore %>
    <% end %>
    <br>

  <% end %>
  <br>
</div>


